{{#if details.result.length}}
  {{#each details.result as |result index|}}
    {{#if (lt index 1)}}
      {{#if result.datetime}}
        <span {{on "click" (optional this.scrollToIntegration)}} class="integration-summary-tag integration-background-color integration-border-color">
          <span class="acronym integration-text-bold-color">{{block.acronym}}</span>
          <span class="integration-text-color">Date Last Seen: {{result.datetime}}</span>
        </span>
      {{/if}}
      {{#if result.device_user_agent}}
        <span {{on "click" (optional this.scrollToIntegration)}} class="integration-summary-tag integration-background-color integration-border-color">
          <span class="acronym integration-text-bold-color">{{block.acronym}}</span>
          <span class="integration-text-color">Device User Agent: {{result.device_user_agent}}</span>
        </span>
      {{/if}}
      {{#if result.registrar}}
      <span {{on "click" (optional this.scrollToIntegration)}} class="integration-summary-tag integration-background-color integration-border-color">
          <span class="acronym integration-text-bold-color">{{block.acronym}}</span>
          <span class="integration-text-color">Registrar: {{result.registrar}}</span>
        </span>
      {{/if}}
      {{#if result.domain_created_datetime}}
      <span {{on "click" (optional this.scrollToIntegration)}} class="integration-summary-tag integration-background-color integration-border-color">
          <span class="acronym integration-text-bold-color">{{block.acronym}}</span>
          <span class="integration-text-color">Domain Created: {{result.domain_created_datetime}}</span>
        </span>
      {{/if}}
      {{#if result.domain_updated_datetime}}
      <span {{on "click" (optional this.scrollToIntegration)}} class="integration-summary-tag integration-background-color integration-border-color">
          <span class="acronym integration-text-bold-color">{{block.acronym}}</span>
          <span class="integration-text-color">Domain Last Updated: {{result.domain_updated_datetime}}</span>
        </span>
      {{/if}}
    {{/if}}
  {{/each}}
{{/if}}
{{#if details.result.avscan_score}}
  <span {{on "click" (optional this.scrollToIntegration)}} class="integration-summary-tag integration-background-color integration-border-color">
    <span class="acronym integration-text-bold-color">{{block.acronym}}</span>
    <span class="integration-text-color">AV_Scan Score: {{details.result.avscan_score}}</span>
  </span>
{{/if}}
{{#if details.result.scan_time}}
  <span {{on "click" (optional this.scrollToIntegration)}} class="integration-summary-tag integration-background-color integration-border-color">
    <span class="acronym integration-text-bold-color">{{block.acronym}}</span>
    <span class="integration-text-color"> Scan Time: {{details.result.scan_time}}</span>
  </span>
{{/if}}


{{#if (eq block.entity.type "IPv4")}}
  {{#if details.result.length}}
    <span {{on "click" (optional this.scrollToIntegration)}} class="integration-summary-tag integration-background-color integration-border-color">
      <span class="acronym integration-text-bold-color">{{block.acronym}}</span>
      <span class="integration-text-color"> Passive DNS ({{details.result.length}}{{if (eq details.result.length 5) "+"}})</span>
    </span>
  {{/if}}
  {{#if details.deviceGeoIp.length}}
    <span {{on "click" (optional this.scrollToIntegration)}} class="integration-summary-tag integration-background-color integration-border-color">
      <span class="acronym integration-text-bold-color">{{block.acronym}}</span>
      <span class="integration-text-color"> Device Geo ({{details.deviceGeoIp.length}}{{if (eq details.deviceGeoIp.length 5) "+"}})</span>
    </span>
  {{/if}}
  {{#if details.ipDynamic.length}}
    <span {{on "click" (optional this.scrollToIntegration)}} class="integration-summary-tag integration-background-color integration-border-color">
      <span class="acronym integration-text-bold-color">{{block.acronym}}</span>
      <span class="integration-text-color"> Dynamic DNS ({{details.ipDynamic.length}}{{if (eq details.ipDynamic.length 5) "+"}})</span>
    </span>
  {{/if}}
  {{#if details.ipSample.length}}
    <span {{on "click" (optional this.scrollToIntegration)}} class="integration-summary-tag integration-background-color integration-border-color">
      <span class="acronym integration-text-bold-color">{{block.acronym}}</span>
      <span class="integration-text-color"> Associated Hashes ({{details.ipSample.length}}{{if (eq details.ipSample.length 5) "+"}})</span>
    </span>
  {{/if}}
{{/if}}

{{#if (eq block.entity.type "IPv6")}}
  {{#if details.result.length}}
    <span {{on "click" (optional this.scrollToIntegration)}} class="integration-summary-tag integration-background-color integration-border-color">
      <span class="acronym integration-text-bold-color">{{block.acronym}}</span>
      <span class="integration-text-color"> Device Geo ({{details.result.length}}{{if (eq details.result.length 5) "+"}})</span>
    </span>
  {{/if}}
{{/if}}

{{#if (eq block.entity.type "md5")}}
  {{#if details.result.length}}
    <span {{on "click" (optional this.scrollToIntegration)}} class="integration-summary-tag integration-background-color integration-border-color">
      <span class="acronym integration-text-bold-color">{{block.acronym}}</span>
      <span class="integration-text-color"> Sample ({{details.result.length}}{{if (eq details.result.length 5) "+"}})</span>
    </span>
  {{/if}}
{{/if}}

{{#if (eq block.entity.type "domain")}}
  {{#if details.result.length}}
    <span {{on "click" (optional this.scrollToIntegration)}} class="integration-summary-tag integration-background-color integration-border-color">
      <span class="acronym integration-text-bold-color">{{block.acronym}}</span>
      <span class="integration-text-color"> WhoIs ({{details.result.length}}{{if (eq details.result.length 5) "+"}})</span>
    </span>
  {{/if}}
  {{#if details.domainPassive.length}}
    <span {{on "click" (optional this.scrollToIntegration)}} class="integration-summary-tag integration-background-color integration-border-color">
      <span class="acronym integration-text-bold-color">{{block.acronym}}</span>
      <span class="integration-text-color"> Passive DNS ({{details.domainPassive.length}}{{if (eq details.domainPassive.length 5) "+"}})</span>
    </span>
  {{/if}}
  {{#if details.domainSsl.ssl_certs.length}}
    <span {{on "click" (optional this.scrollToIntegration)}} class="integration-summary-tag integration-background-color integration-border-color">
      <span class="acronym integration-text-bold-color">{{block.acronym}}</span>
      <span class="integration-text-color"> SSL Certificate ({{details.domainSsl.ssl_certs.length}}{{if (eq details.domainSsl.ssl_certs.length 5) "+"}})</span>
    </span>
  {{/if}}
  {{#if details.domainSample.length}}
    <span {{on "click" (optional this.scrollToIntegration)}} class="integration-summary-tag integration-background-color integration-border-color">
      <span class="acronym integration-text-bold-color">{{block.acronym}}</span>
      <span class="integration-text-color"> Associated Hash Information ({{details.domainSample.length}}{{if (eq details.domainSample.length 5) "+"}})</span>
    </span>
  {{/if}}
{{/if}}

{{#if (eq block.entity.type "email")}}
  {{#if details.result.length}}
    <span {{on "click" (optional this.scrollToIntegration)}} class="integration-summary-tag integration-background-color integration-border-color">
      <span class="acronym integration-text-bold-color">{{block.acronym}}</span>
      <span class="integration-text-color"> WhoIs ({{details.result.length}}{{if (eq details.result.length 5) "+"}})</span>
    </span>
  {{/if}}
{{/if}}

{{#if isPhoneEntity}}
  {{#if details.result.length}}
    <span {{on "click" (optional this.scrollToIntegration)}} class="integration-summary-tag integration-background-color integration-border-color">
      <span class="acronym integration-text-bold-color">{{block.acronym}}</span>
      <span class="integration-text-color"> WhoIs ({{details.result.length}}{{if (eq details.result.length 5) "+"}})</span>
    </span>
  {{/if}}
  {{#if details.deviceGeo.length}}
    <span {{on "click" (optional this.scrollToIntegration)}} class="integration-summary-tag integration-background-color integration-border-color">
      <span class="acronym integration-text-bold-color">{{block.acronym}}</span>
      <span class="integration-text-color"> Device Geo ({{details.deviceGeo.length}}{{if (eq details.deviceGeo.length 5) "+"}})</span>
    </span>
  {{/if}}
{{/if}}