{{#if details.result}}
{{#each details.result as |result|}}
{{#if result.datetime}}
  <span class="integration-summary-tag integration-background-color integration-border-color">
    <span class="acronym integration-text-bold-color">{{block.acronym}}</span>
    <span class="integration-text-color">Date Last Seen: {{result.datetime}}</span>
  </span>
{{/if}}
{{#if result.device_user_agent}}
  <span class="integration-summary-tag integration-background-color integration-border-color">
    <span class="acronym integration-text-bold-color">{{block.acronym}}</span>
    <span class="integration-text-color">Device User Agent: {{result.device_user_agent}} - Last Seen: {{result.last_seen}}</span>
  </span>
{{/if}}
{{/each}}
{{/if}}
{{#if details.result.avscan_score}}
  <span class="integration-summary-tag integration-background-color integration-border-color">
    <span class="acronym integration-text-bold-color">{{block.acronym}}</span>
    <span class="integration-text-color">AV_Scan Score: {{details.result.avscan_score}}</span>
  </span>
{{/if}}
{{#if details.result.scan_time}}
  <span class="integration-summary-tag integration-background-color integration-border-color">
    <span class="acronym integration-text-bold-color">{{block.acronym}}</span>
    <span class="integration-text-color"> Scan Time: {{details.result.scan_time}}</span>
  </span>
{{/if}}